body {
    background: black;
}

#botones {
    width: 750px;
    height: 75px;
    margin-left: auto;
  margin-right: auto;
    
}

.boton {
    margin-left: 19px;
    margin-right: auto;
    width: 140px;
    height: 45px;
    margin-top: 10px;
    font-size: 24px;
    text-shadow: 0 0 1px;
    cursor: pointer;
    background-color: #465064;
    color: #ffffff;
    border-radius: 7px;
}
